data/xsd/asset-management_0.9.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:am="http://www.dtechspace.com/acam/asset-management/0.9.1"
    xmlns:cpe-name="http://cpe.mitre.org/naming/2.0"
    xmlns:sdt="http://www.dtechspace.com/acam/shared-datatypes/0.9"
    targetNamespace="http://www.dtechspace.com/acam/asset-management/0.9.1" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="0.9.1" >
    <xs:annotation>
        <xs:appinfo>
            <schema>Asset Management Schema</schema>
            <author>D-Tech, LLC</author>
            <version>0.9.1</version>
            <date>2017-04-17</date>
            <change-made>In "computing-device-type", Changed the element "connections" to "network-interfaces", and "connection" to "network-interface"</change-made>
        </xs:appinfo>
    </xs:annotation>
    <xs:import namespace="http://cpe.mitre.org/naming/2.0"
        schemaLocation="http://scap.nist.gov/schema/cpe/2.3/cpe-naming_2.3.xsd"/>
    <xs:import namespace="http://www.dtechspace.com/acam/shared-datatypes/0.9"
        schemaLocation="shared-datatypes_0.9.xsd"/>

    <xs:element name="asset-pool">
        <xs:annotation>
            <xs:documentation>An asset pool consists of multiple asset instances and multiple connection instances</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:NCName" minOccurs="1" maxOccurs="1"/>
                <xs:element name="gateway_id" type="xs:token" minOccurs="1" maxOccurs="1"/>
                <xs:element name="facility_id" type="xs:token" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="am:asset" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="am:connection" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="description" type="xs:string" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="asset" type="am:asset-type" abstract="true">
        <xs:annotation>
            <xs:documentation>Holds identifying attributes that are common to all assets.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="it-asset" type="am:it-asset-type" abstract="true" substitutionGroup="am:asset">
        <xs:annotation>
            <xs:documentation>Holds identifying attributes that are common to all IT assets</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ot-asset" type="am:ot-asset-type" abstract="true" substitutionGroup="am:asset">
        <xs:annotation>
            <xs:documentation>Holds identifying attributes that are common to all IT assets</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:element name="computing-device" type="am:computing-device-type" substitutionGroup="am:it-asset">
        <xs:annotation>
            <xs:documentation>Holds identifying attributes for a computing device.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="network-device" type="am:network-device-type" substitutionGroup="am:it-asset">
        <xs:annotation>
            <xs:documentation>Holds identifying attributes for a network.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="software" type="am:software-type" substitutionGroup="am:it-asset">
        <xs:annotation>
            <xs:documentation>Holds identifying attributes for a software installation</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="connection" type="am:connection-type">
        <xs:annotation>
            <xs:documentation>Defines a single connection between a source and a target asset, either physical or logical</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!--The following types correspond directly to the elements above-->

    <xs:complexType name="asset-type" abstract="true">
        <xs:sequence>
            <xs:element name="id" type="xs:NCName" minOccurs="1" maxOccurs="1"/>
            <xs:element name="parent-id" type="xs:NCName" minOccurs="0" maxOccurs="1"/>
            <xs:element name="guid" type="sdt:GUID" minOccurs="1" maxOccurs="1"/>
            <xs:element name="type" type="am:asset-taxonomy-type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="status" type="am:status-type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="admin-email" type="sdt:email-address-type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="admin-phone" type="sdt:telephone-number-type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="risk-factor" type="am:risk-factor-type" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute ref="am:timestamp"/>
    </xs:complexType>

    <xs:complexType name="it-asset-type" abstract="true">
        <xs:complexContent>
            <xs:extension base="am:asset-type">
                <xs:sequence>
                    <xs:element name="cpe-ref" type="am:cpe-type" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The CPE name for the software (CPE 2.2 URI or CPE 2.3 Formatted String).
                                There could be zere or more CPEs associated with a software asset.  Please note that we only deal with software CVE at this point
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ot-asset-type" abstract="true">
        <xs:annotation>
            <xs:documentation>Representing an OT Asset to be defined later</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="am:asset-type"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="process-asset-type" abstract="true">
        <xs:annotation>
            <xs:documentation>Representing a Process Asset to be defined later</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="am:asset-type"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="computing-device-type">
        <xs:complexContent>
            <xs:extension base="am:it-asset-type">
                <xs:sequence>
                    <xs:element name="distinguished-name" type="xs:token" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The full X.500 distinguished name for the device.</xs:documentation>
                        </xs:annotation>
                       </xs:element>
<!--                    ## Nick:  At this point, we only deal with software CVEs, so no need to specify hardware CPEs
-->                    <xs:element name="network-interfaces" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The IP network interface connections that exist for the device (regardless
                                of if the network interface is connected to a network or not).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="network-interface" type="am:network-interface-type" maxOccurs="unbounded">
                                    <xs:annotation>
                                        <xs:documentation>An IP network interface connection.</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="fqdn" minOccurs="0" type="am:fqdn-type"/>
                    <xs:element name="hostname" type="am:hostname-type" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The hostname of the computing device.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="location" type="am:location-type" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

   <xs:complexType name="network-device-type">
        <xs:complexContent>
            <xs:extension base="am:computing-device-type">
                <xs:sequence>
                    <xs:element name="network-name" type="xs:normalizedString" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>The name of the network as commonly referred to.</xs:documentation>
                        </xs:annotation>
                 </xs:element>
                    <xs:choice minOccurs="0">
                        <xs:element name="ip-net-range">
                            <xs:annotation>
                                <xs:documentation>The start and end IP addresses to indicate the range of IP addresses
                                    covered by this network.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ip-net-range-start" type="am:ip-address-type">
                                        <xs:annotation>
                                            <xs:documentation>The starting IP address in the network.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="ip-net-range-end" type="am:ip-address-type">
                                        <xs:annotation>
                                            <xs:documentation>The ending IP address in the network.</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="cidr" type="am:cidr-type">
                            <xs:annotation>
                                <xs:documentation>The classless inter-domain routing notation for the
                                    network.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="software-type">
        <xs:complexContent>
            <xs:extension base="am:it-asset-type">
                <xs:sequence>
                    <xs:element name="installation-id" type="xs:token" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>Any identifier for the software instance (installation)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                        <xs:element name="license" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>The license key for the software.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute ref="am:source"/>
                                    <xs:attribute ref="am:timestamp"/>
                                    <xs:anyAttribute namespace="##other"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--The follow type definitions support the first-order citizen elements defined above-->
    <xs:complexType name="fqdn-type">
        <xs:simpleContent>
            <xs:extension base="xs:token">
                <xs:attribute ref="am:source"/>
                <xs:attribute ref="am:timestamp"/>
                <xs:anyAttribute namespace="##other"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="location-type">
        <xs:sequence>
            <xs:element name="facility-id" type="xs:token" minOccurs="0"/>
            <xs:element name="building-number" type="xs:token" minOccurs="0"/>
            <xs:element name="room-number" type="xs:token" minOccurs="0"/>
            <xs:element name="has-secure-access" type="xs:boolean" default="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="connection-type">
        <xs:sequence>
            <xs:element name="id" type="xs:NCName" minOccurs="1" maxOccurs="1"/>
            <xs:element name="is_active" type="xs:boolean" minOccurs="1" maxOccurs="1" default="false"/>
            <xs:element name="protocol" type="am:protocol-type" minOccurs="1" maxOccurs="1"/>
            <xs:element name="source_id" type="xs:NCName" minOccurs="1" maxOccurs="1" />
            <xs:element name="target_id" type="xs:NCName" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="is_physical" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:attribute name="source" type="xs:string">
        <xs:annotation>
            <xs:documentation>Contains the source of the information. The value of this field is left open to the
                content producer, but MAY include a synthetic ID of the asset which sourced the information, another ID
                of the source, or a description of the source.</xs:documentation>
        </xs:annotation>
    </xs:attribute>
    <xs:attribute name="timestamp" type="xs:dateTime">
        <xs:annotation>
            <xs:documentation>Indicates when the data was last known to be correct.</xs:documentation>
        </xs:annotation>
    </xs:attribute>

    <xs:complexType name="ip-address-type">
        <xs:sequence>
            <xs:element name="ip-v4" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="am:ipv4-type">
                            <xs:attribute ref="am:source"/>
                            <xs:attribute ref="am:timestamp"/>
                            <xs:anyAttribute namespace="##other"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ip-v6" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="am:ipv6-type">
                            <xs:attribute ref="am:source"/>
                            <xs:attribute ref="am:timestamp"/>
                            <xs:anyAttribute namespace="##other"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="network-interface-type">
        <xs:sequence>
            <xs:element name="ip-address" type="am:ip-address-type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The IP address for this network interface.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mac-address" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The MAC address associated with this network interface.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="am:mac-address-type">
                            <xs:attribute ref="am:source"/>
                            <xs:attribute ref="am:timestamp"/>
                            <xs:anyAttribute namespace="##other"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="url" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>A URL in a relevant DNS server for this IP address.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:anyURI">
                            <xs:attribute ref="am:source"/>
                            <xs:attribute ref="am:timestamp"/>
                            <xs:anyAttribute namespace="##other"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="subnet-mask" type="am:ip-address-type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The subnet mask address for this network interface.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="default-route" type="am:ip-address-type" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The IP address for the default gateway of this connection.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="risk-factor-type">
        <xs:sequence>
            <xs:element name="risk-coeffient" type="am:risk-coeffient-type" default="0.00"/>
        </xs:sequence>
        <xs:attribute ref="am:source"/>
        <xs:attribute ref="am:timestamp"/>
        <xs:anyAttribute namespace="##other"/>
    </xs:complexType>

    <xs:simpleType name="risk-coeffient-type">
        <xs:annotation>
            <xs:documentation>The risk coeffient is a percentage number that represents the
                combined risk coeffient of an asset.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0.00"/>
            <xs:maxInclusive value="100.00"/>
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cidr-type">
        <xs:restriction base="xs:token">
            <xs:pattern
                value="([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))/([0-9]|[1-2][0-9]|3[0-2])"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cpe-type">
        <xs:union memberTypes="cpe-name:cpe22Type cpe-name:cpe23Type"/>
    </xs:simpleType>
    <xs:simpleType name="hostname-type">
        <xs:restriction base="xs:token">
            <xs:pattern value="[\w\-]+(\.[\w\-]+){0,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ipv4-type">
        <xs:restriction base="xs:token">
            <xs:pattern
                value="([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))\.([0-9]|[1-9][0-9]|1([0-9][0-9])|2([0-4][0-9]|5[0-5]))"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ipv6-type">
        <xs:restriction base="xs:token">
            <xs:pattern value="([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="locale-type">
        <xs:restriction base="xs:token">
            <xs:pattern value="[a-zA-Z]{2,3}(-([a-zA-Z]{2}|[0-9]{3}))?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="mac-address-type">
        <xs:restriction base="xs:token">
            <xs:pattern value="([0-9a-fA-F]{2}:){5}[0-9a-fA-F]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="port-type">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="65535"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="status-type">
        <xs:annotation>
            <xs:documentation>
                Asset status defined as enumerations.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="running"/>
            <xs:enumeration value="idle"/>
            <xs:enumeration value="disconnected"/>
        </xs:restriction>
    </xs:simpleType>

   <xs:simpleType name="protocol-type">
        <xs:annotation>
            <xs:documentation>
                Communication protocols used in an ICS network.
                -- TODO:  Need to extend the protocol enums by checking the Security Network for ICS book --
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="http"/>
            <xs:enumeration value="https"/>
            <xs:enumeration value="tcp"/>
            <xs:enumeration value="udp"/>
            <xs:enumeration value="snmp"/>
            <xs:enumeration value="smtp"/>
            <xs:enumeration value="tcp"/>
            <xs:enumeration value="rs232"/>
            <xs:enumeration value="rs485"/>
            <xs:enumeration value="modbus"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="asset-taxonomy-type">
        <xs:annotation>
            <xs:documentation>
                Predefined Asset Taxonomy Types as Schema Enumeration
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="/ICS-Asset"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Network-Device"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Network-Device/Switch"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Network-Device/Router"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Network-Device/Router/Wireless"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Network-Device/Router/Wired"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Network-Device/Router/Extender"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/Desktop"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/Tower-Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/Enterprise-Appliance"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/Laptop"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/IP-Device"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/IP-Device/Camera"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Hardware/Computing-Device/IP-Device/Sensor"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-XP"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-7"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-8"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows Windows-10"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-Vista"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-2000"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/WinCE"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-2003"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-2008"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Windows/Windows-2012"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Linux"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/MacOS"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Android"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Unix"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/AIX"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Solaris"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/BSD"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/iOS"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/RTOS"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/VMX"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Hypervisor"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Hypervisor/VMware"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Hypervisor/Xen"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Hypervisor/KVM"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Hypervisor/XBox"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Operating-System/Hypervisor/Parallels"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application/Office-Application"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application/Office-Application/PDF-Viewer"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application/Office-Application/Graphic-Application"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application/Office-Application/Graphic-Application/CAD"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application/Office-Application/Graphic-Application/Photoshop"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Desktop-Application/Office-Application/Graphic-Application/Illustrator"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Web-Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Email-Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/XMPP-Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/DNS-Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/SOCKS-Server"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/IE"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/Chrome"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/Firefox"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/Safari"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/Opera"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/Edge"/>
            <xs:enumeration value="/ICS-Asset/IT-Asset/Software/Server/Client/Web-Browser/Vivaldi"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset/SCADA"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset/PLC"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset/DCS"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset/Data-Historian"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset/HMI"/>
            <xs:enumeration value="/ICS-Asset/OT-Asset/ICS-Device"/>
            <xs:enumeration value="/ICS-Asset/Process-Asset"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
